<h1>Value your Offer</h1>

<table style = "width:1000px">
<tr>
<td>
<div>
  <div>

    <form action="/store_offer_cookies" method="post">
       <div>
        <label for="company">
          Company
        </label>

        <input type = "text" id="company_box" name="query_company" value = <%=cookies[:company]%>>

      </div>

        <label for="stock_type">
          Stock Type
        </label>
        <input type = "text" id="stock_type_box" name="query_stock_type" value = <%=cookies[:stock_type]%>>

      <div>
        <label for="number_of_options">
          Number of Options
        </label>

        <input type="text" id="number_of_options" name="query_number_of_options" value = <%=cookies[:number_of_options]%>>
      </div>

      <div>
        <label for="strike_price">
          Strike Price
        </label>

        <input type="text" id="strike_price" name="query_strike_price" value = <%=cookies[:strike_price]%>>
      </div>

      <div>
        <label for="vesting_years">Vesting Years</label>
        <input type="text" id="vesting_years" name="query_vesting_years" value=<%=cookies[:vesting_years]%>>
      </div>

      <div>
        <label for="cliff">
          Cliff
        </label>

        <input type="text" id="cliff_box" name="query_cliff" value = <%=cookies[:cliff]%>>
      </div>

      <p></p>

      <button>
        Recalculate
      </button>
    </form>
  </div>
  <div>
</td>
<td>
<%= column_chart ({"Value" => @offer_value, "Taxes" => @taxes})%>
</td>
</tr>
<tr>
<td>
</td>
<td>
  <ul> 
    <li>
    Your offer value is <%=@offer_value%>
    </li>
    <li>
    Your will need to pay <%=@taxes.round%> in Taxes
    </li>
  </ul>

  </div>
</div>
</td>
</tr>

</table>
