<h1>Value your Offer</h1>

<table >
<th>
</th>

<tr>
<td>
<div>
  <div>

    <form action="/recalculate" method="post">
       <div>
        <label for="company">
          Company
        </label>

        <select id="company_box" name="query_company">
        <%Company.all.each do |a_company|%>
          <option value ="<%=cookies[:company]%>">
                  <%=a_company.company_name%>
          </option>
        <%end%>
        </select>
      </div>

      <h2>Equity Compensation</h2>

              <label for="stock_type">
          Stock Type
        </label>
        <select id="stock_type_box" name="query_stock_type">
        <%stock_type = ["ISR","NSR"]%>
        <%stock_type.each do |a_stock_type|%>
          <option value = "<%=cookies[:stock_type]%>">
                  <%=a_stock_type%>
          </option>
        <%end%>
        </select>

      <div>
        <label for="number_of_options">
          Number of Options
        </label>

        <input type="text" id="number_of_options" name="query_number_of_options" value = <%=cookies[:number_of_options]%>>
      </div>

      <div>
        <label for="strike_price">
          Strike Price
        </label>

        <input type="text" id="strike_price" name="query_strike_price" value = <%=cookies[:strike_price]%>>
      </div>

      <div>
        <label for="vesting_years">Vesting Years</label>
        <input type="text" id="vesting_years" name="query_vesting_years" value=<%=cookies[:vesting_years]%>>
      </div>

      <div>
        <label for="cliff">
          Cliff
        </label>

        <input type="text" id="cliff_box" name="query_cliff" value = <%=cookies[:cliff]%>>
      </div>

      <p></p>

      <button>
        Recalculate
      </button>
    </form>
  </div>
  <div>
</td>


</tr>

</table>

<h1>Exercise Scenarios</h1>
<hr>
<%#=@new_array%>
<%= column_chart data = [
  {
    name: "Cost to Exercise", 
    data: @cost_to_exercise
  },
  {
    name: "Taxes", 
    data: @taxes
  },
  {
    name: "Potential Upside", 
    data: @potential_upside
  }
] , stacked: true, width: 2000%>
<h1>Vesting Calendar</h1>
<hr>
<%#=@new_array%>
<%= column_chart @vesting_calendar, xtitle: "Months", ytitle: "Vested Options" %>
