<div>
  <div>
    <h1>
      List of all companies
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new company
    </h2>

    <form action="/insert_company" method="post">
      <div>
        <label for="company_name_box">
          Company name
        </label>

        <input type="text" id="company_name_box" name="query_company_name">
      </div>

      <div>
        <label for="year_founded_box">
          Year founded
        </label>

        <input type="text" id="year_founded_box" name="query_year_founded">
      </div>

      <div>
        <label for="industry_box">
          Industry
        </label>

        <input type="text" id="industry_box" name="query_industry">
      </div>

      <div>
        <input type="checkbox" id="vc_backed_box" name="query_vc_backed" value="1">

        <label for="vc_backed_box">Vc backed</label>
      </div>

      <div>
        <label for="last_round_type_box">
          Last round type
        </label>

        <input type="text" id="last_round_type_box" name="query_last_round_type">
      </div>

      <div>
        <label for="valuation_box">
          Valuation
        </label>

        <input type="text" id="valuation_box" name="query_valuation">
      </div>

      <div>
        <label for="deal_date_box">
          Deal date
        </label>

        <input type="date" id="deal_date_box" name="query_deal_date">
      </div>

      <button>
        Create company
      </button>
    </form>
  </div>
</div>


<%= pie_chart Company.group(:industry).count%>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Company name
        </th>

        <th>
          Year founded
        </th>

        <th>
          Industry
        </th>

        <th>
          Vc backed
        </th>

        <th>
          Last round type
        </th>

        <th>
          Valuation
        </th>

        <th>
          Deal date
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_companies.each do |a_company| %>
      <tr>
        <td>
          <%= a_company.id %>
        </td>

        <td>
          <%= a_company.company_name %>
        </td>

        <td>
          <%= a_company.year_founded %>
        </td>

        <td>
          <%= a_company.industry %>
        </td>

        <td>
          <%= a_company.vc_backed %>
        </td>

        <td>
          <%= a_company.last_round_type %>
        </td>

        <td>
          <%= a_company.valuation %>
        </td>

        <td>
          <%= a_company.deal_date %>
        </td>

        <td>
          <%= time_ago_in_words(a_company.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_company.updated_at) %> ago
        </td>

        <td>
          <a href="/companies/<%= a_company.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
