<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>
  <h1>Sommos</h1>
  <body>
  
  <%if session.fetch(:client_id) != nil%>
  <ul>
    <li>
      <a href = "/destroy_cookies">User Sign Out</a>
    </li>
  </ul>
  <%else%>
  <ul>
    <li>
      <a href = "/user_sign_up">User Sign Up</a>
    </li>
    <li>
      <a href = "/user_sign_in">User Sign In</a>
    </li>
    <li>
      <a href = "/companies/index">Companies</a>
    </li>
    <li>
      <a href = "/">Homepage</a>
    </li>
  </ul>
  <%end%>
    <%= yield %>
  </body>
</html>
